<h3>Landmarks in {{name}}</h3>
<button type="button" class="btn btn-sm btn-dark" (click)="backToHome()">Back</button>
<p *ngIf="!landmarks">
    </p>
    <div *ngIf="landmarks" class="form-group">
    </div>
    <div class="row">
        <div class="col-md-3" *ngFor="let landmark of landmarks">
            <div class="card mb-4 box-shadow">
              <img class="logo" src="assets/{{landmark.fLargeUrl}}"  height="150px" alt="Card image cap">
              <div class="card-header">
                    {{ (landmark.title.length>30)? (landmark.title | slice:0:30)+'..':(landmark.title) }}
              </div>
              <div class="card-body">
                <p class="card-text">
                   {{landmark.dateUploaded | date:'mediumDate'}}
                </p> 
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-primary" (click)="navLandmark(landmark.id)">More</button>
            
                  </div>
                </div>
              </div>
            </div>
          </div>   
    </div>
    <button type="button" class="btn btn-sm btn-dark" (click)="backToHome()">Back</button>