<br/>
<button type="button" class="btn btn-sm btn-dark" (click)="navLocation()">Back</button>
<br/>
<div class="row">
    <div class="col-md-6">
        <div class="row">
               <div class="col-md-12">
                <b>Date:</b> {{landmark.dateUploaded | date:'mediumDate'}}
               </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <b>Title:</b> {{landmark.title}}
            </div>
     </div>
     <div class="row">
        <div class="col-md-12">
            <b>Description:</b> {{landmark.description}}
        </div>
     </div>
     <div class="row">
        <div class="col-md-12">
        <img class="logo" [src]="landmark.fThumbnailUrl | safe:'resourceUrl'"  alt="Card image cap">
        </div>
     </div>
      </div>   
      <div class="col-md-6">
        <img class="logo" [src]="landmark.fLargeUrl | safe:'resourceUrl'" width="65%" height="65%" alt="Card image cap">
    </div>  
</div>